i {
    font-size: 40px;
}
td:last-child td i {
    padding: 0.25rem 0.6rem;
    font-size: 35px;
    cursor: pointer;
    border-radius: 100%;
}
td i:hover {
    background-color: #46494c96;
    -webkit-transition: 1s;
    transition: 1s;
}

#container-mp3 {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    background-color: #b8b8b8da;
}
.bottom-player {
    user-select: none;
    display: none;
}
.pagination li,
#mp3-progress-bar-container {
    cursor: pointer;
    user-select: none;
}
.nb_size {
    width: 40px !important;
    text-align: center;
}

#buffered {
    background-color: rgb(116, 163, 116);
}